/* src/styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ash-50: #F5F3F2;
  --ash-100: #EAE7E5;
  --ash-200: #B8B2AE;
  --ash-300: #918982;
  --ash-400: #5D5652;
  --ash-500: #4A433D;
  --ash-600: #403933;
  --ash-700: #302822;
  --ash-800: #171311;
}

/* Enable smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--ash-100);
}

::-webkit-scrollbar-thumb {
  background: var(--amber-600);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--amber-700);
}