/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* This accounts for the fixed navbar */
}

/* Ensures the parallax effect doesn't cause horizontal scrolling */
body {
  overflow-x: hidden;
}

